<div class="offer-filters-wrapper">
  <button
    type="button"
    class="filter-toggle"
    [attr.aria-expanded]="isFiltersVisible"
    aria-controls="cruise-filters"
    (click)="toggleFilters()"
  >
    <span class="filter-toggle-text">Filtry rejsów</span>
    <mat-icon>tune</mat-icon>
  </button>

  <div id="cruise-filters" class="filters" [class.visible]="isFiltersVisible">
    <h2 class="filter-title">Dopasuj swój rejs</h2>

    <div>
      <div class="udanyrejs-field">
        <label class="input-label" for="filterStartDate">Wyjazd nie wcześniej niż</label>
        <mat-form-field class="start-date" appearance="outline" subscriptSizing="dynamic">
          <input
            id="filterStartDate"
            matInput
            [matDatepicker]="startDatePicker"
            placeholder="Wybierz datę"
            [ngModel]="filters().startDate"
            (ngModelChange)="onFilterChange('startDate', $event)"
            (focus)="startDatePicker.open()"
            [min]="today"
            [max]="filters().endDate"
            readonly
          />
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker-toggle
            matSuffix
            *ngIf="filters().startDate"
            (click)="onFilterChange('startDate', null); $event.stopPropagation()"
          >
            <mat-icon matDatepickerToggleIcon>clear</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #startDatePicker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="udanyrejs-field">
        <label class="input-label" for="filterEndDate">Powrót nie później niż</label>
        <mat-form-field class="start-date" appearance="outline" subscriptSizing="dynamic">
          <input
            id="filterEndDate"
            matInput
            [matDatepicker]="endDatePicker"
            placeholder="Wybierz datę"
            [ngModel]="filters().endDate"
            (ngModelChange)="onFilterChange('endDate', $event)"
            (focus)="endDatePicker.open()"
            [min]="today"
            readonly
          />
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker-toggle
            matSuffix
            *ngIf="filters().endDate"
            (click)="onFilterChange('endDate', null); $event.stopPropagation()"
          >
            <mat-icon matDatepickerToggleIcon>clear</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #endDatePicker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="udanyrejs-field">
        <label class="input-label" for="filterCompany">Armator</label>
        <ng-select
          labelForId="filterCompany"
          [items]="companies$ | async"
          bindLabel="name"
          bindValue="id"
          appendTo="body"
          [ngModel]="filters().companyIdList"
          (ngModelChange)="onFilterChange('companyIdList', $event)"
          [placeholder]="filters().companyIdList.length ? 'Wybrani armatorzy' : 'Wybierz armatorów'"
          [multiple]="true"
          [searchable]="false"
          [closeOnSelect]="false"
          [clearable]="true"
        >
        </ng-select>
      </div>

      <div class="udanyrejs-field">
        <label class="input-label" for="filterDestination">Kierunek</label>
        <ng-select
          labelForId="filterDestination"
          [items]="destinations$ | async"
          bindLabel="name"
          bindValue="id"
          appendTo="body"
          [ngModel]="filters().destinationIdList"
          (ngModelChange)="onFilterChange('destinationIdList', $event)"
          [placeholder]="filters().destinationIdList.length ? 'Wybrany kierunek' : 'Wybierz kierunek'"
          [multiple]="true"
          [searchable]="false"
          [closeOnSelect]="false"
          [clearable]="true"
        >
        </ng-select>
      </div>

      <div class="close-button">
        <button type="button" (click)="toggleFilters()">Pokaż oferty</button>
      </div>
    </div>
  </div>
</div>
