@import '../../../scss/variables';
@import '../../../scss/breakpoints';

.offer-filters-wrapper {
  place-items: end;

  @include media('>1600px') {
    position: sticky;
    margin: 30px 30px;
    top: 20px;
    z-index: 10;
  }

  @include media('<=1600px') {
    justify-items: center;
  }

  @include media('<=1400px') {
    max-width: 500px;
  }

  @include media('<=phone') {
    margin: 0 20px;
  }

  .filter-toggle {
    cursor: pointer;
    color: $primary-color;
    border: none;
    padding: 20px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    align-content: center;

    @include media('>1600px') {
      height: 80px;
      width: 80px;
      margin-bottom: 20px;
      background-color: $background-color;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    @include media('<=1600px') {
      display: flex;
      align-items: center;
    }

    ::ng-deep {
      mat-icon {
        width: 40px;
        height: 40px;
        font-size: 30px;
        font-weight: 500;
        align-content: center;
      }
    }
  }

  .filters {
    overflow: hidden;
    transition: opacity 0.5s ease;
    opacity: 0;
    background-color: $background-color;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;

    @include media('<=1600px') {
      margin-bottom: 30px;
    }

    &.visible {
      height: auto;
      opacity: 1;
    }

    &.hidden {
      opacity: 0;
      display: none;
      margin-bottom: 0;
    }

    h3 {
      text-align: center;
      font-size: 1.25rem;
      color: #333;
      margin-bottom: 20px;
    }
  }

  .filter-toggle-text {
    padding-right: 10px;

    @include media('>1600px') {
      display: none;
    }
  }

  .close-button {
    @include media('>1600px') {
      display: none;
    }

    margin-top: 2rem;
    text-align: center;

    button {
      width: 80%;
      height: 40px;
      background-color: $primary-color;
      color: white;
      border: none;
      font-size: 1rem;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: $primary-color;
      }
    }
  }

  .filter-title {
    @include media('<=1400px') {
      display: none;
    }
  }
}
