// Podstawowe kolory loga
$primary-color: #0288d1;
$secondary-color: #00e1e7;
$tertiary-color: #005C66;
$disabled-color: #b0bec5;

$text-color: #2c3e50;


$info: #0288d1;
$neutral: #0288d1;
$warn: #fad101;
$negative: #8d0606;
$positive: #0cda0c;

$white: #ffffff;
$white-darkness: #f8f8f8;
$black: #000000;
