// Podstawowe kolory loga
$primary-color: #0288d1;
$secondary-color: #00e1e7;
$tertiary-color: #00424c;
$disabled-color: #b0bec5;

$text-color: black;


$info: #0288d1;
$neutral: #0288d1;
$warn: #fad101;
$negative: #8d0606;
$positive: #0cda0c;

$white: #ffffff;
$black: #000000;
