// Podstawowe kolory loga
$primary-color: #005C66;
$secondary-color: #002b4f;
$tertiary-color: #0288d1;
$disabled-color: #b0bec5;
$background-color: #f8f9fa;

$text-color: #2c3e50;


$info: #0288d1;
$neutral: #0288d1;
$warn: #fad101;
$negative: #8d0606;
$error: #8d0606;
$positive: #0cda0c;

$white: #ffffff;
$white-darkness: #f8f8f8;
$black: #000000;
$grey: #4f4f4f;
