@import '../../../scss/variables';

.admin-ship-add-edit {
  .title {
    margin: 10px 0;
    justify-self: center;
    font-weight: 600;
  }

  form {
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    animation: fadeIn 0.5s ease;
  }

  /* Section Titles */
  h2 {
    font-size: 22px;
    font-weight: 600;
    padding-left: 10px;
    margin-bottom: 20px;
  }

  /* Form Sections */
  .section {
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px;
    transition: all 0.3s ease;
  }


  /* Form Fields */
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    input:focus,
    mat-select:focus {
      outline: none;
    }
  }

  /* Animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* File Inputs */
  input[type='file'] {
    padding: 5px;
    font-size: 14px;
    background: $white;
    border: 1px solid $primary-color;
    border-radius: 6px;

    &:hover {
      border-color: #005b96;
    }
  }

  /* Submit Button */
  button[type='submit'] {
    display: flex;
    background: $primary-color;
    font-size: 18px;
    padding: 12px 30px;
    justify-self: center;

    &:disabled {
      background-color: #b0bec5;
      cursor: not-allowed;
    }
  }

  .deleteShip {
    display: flex;
    background: $negative;
    color: $white;
    font-size: 18px;
    padding: 12px 30px;
    margin: 10px;
    justify-self: center;
  }

  .current-file {
    display: flex;
    padding: 5px;

    mat-icon {
      margin-left: 10px;
      color: $positive;
    }
  }
}
