<a class="offer-card" [routerLink]="['/offer-details', offer.id]">
  <!-- Logo firmy -->
  <div class="logo-container" *ngIf="offer.company">
    <img src="{{'assets/cruises-logos/' + offer.company.key + '.png'}}" alt="Logo firmy" class="company-logo"/>
  </div>

  <!-- Zdjęcie -->
  <div class="image-container" *ngIf="offer.imageFile">
    <img [src]="API_URL + '/images/' + offer.imageFile.name" alt="Zdjęcie statku" class="ship-image"/>
  </div>

  <!-- Opis oferty -->
  <div class="offer-details">
    <h2 class="offer-title">{{ offer.name }}</h2>
    <p><strong>Termin:</strong> {{ offer.startDate }} - {{ offer.endDate }}</p>
    <p><strong>Cena od:</strong> {{ offer.price }} Euro</p>
  </div>
</a>
