  <footer class="footer">
  <div class="footer-content">
    <!-- Informacje o stronie -->
    <div class="footer-info">
      <h3>UdanyRejs.pl</h3>
      <p>&copy; 2024 UdanyRejs.pl. Wszystkie prawa zastrzeżone.</p>
      <p>Kontakt: kontakt&#64;udanyrejs.pl | Tel: +48 601 290 334 | Tel: +48 570 444 903</p>
    </div>

    <!-- Linki w stopce -->
    <div class="footer-links">
      <a routerLink="/about-us">O nas</a>
      <a routerLink="/">Oferta</a>
      <a routerLink="/contact">Kontakt</a>
    </div>

    <!-- Ikony społecznościowe -->
    <div class="footer-socials">
      <a href="https://www.facebook.com/profile.php?id=100063084557191" aria-label="Facebook">
        <span class="material-icons">facebook</span>
      </a>
      <a href="https://www.instagram.com/udanyrejs/" aria-label="Instagram">
        <span class="material-icons">instagram</span>
      </a>
    </div>
  </div>
</footer>
