  <footer class="footer">
  <div class="footer-content">
    <!-- Informacje o stronie -->
    <div class="footer-info">
      <h3>UdanyRejs.pl</h3>
      <p>&copy; 2025 UdanyRejs.pl. Wszelkie prawa zastrzeżone.</p>
      <br>
      <div>E-Mail: <a [href]="'mailto:kontakt@udanyrejs.pl'">kontakt&#64;udanyrejs.pl</a></div>
      <div>Tel: +48 601 290 334</div>
      <div>Tel: +48 570 444 903</div>
    </div>

    <!-- Linki w stopce -->
    <div class="footer-links">
      <a routerLink="/about-us">O nas</a>
      <a routerLink="/">Oferta</a>
      <a routerLink="/contact">Kontakt</a>
      <a routerLink="/rules">Regulamin</a>
    </div>

    <!-- Ikony społecznościowe -->
    <div class="footer-socials">
      <div class="icon">
        <a href="https://www.facebook.com/profile.php?id=100063084557191" aria-label="Facebook">
        <i class="fab fa-facebook"></i>
      </a>
      </div>
      <div class="icon">
        <a href="https://www.instagram.com/udanyrejs/" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      </div>
    </div>
  </div>
</footer>
