<div class="offer-details" *ngIf="offer">
  <div class="offer-banner">
    <img *ngIf="offer.image" [src]="'data:image/png;base64, ' + offer.image" alt="Afryka Południowa i Madagaskar"/>
    <div class="offer-overlay">
      <h1>{{ offer.name }}</h1>
    </div>
  </div>

  <div class="offer-details-content">
    <h2>Informacje o rejsie</h2>
    <p><strong>Statek:</strong> {{ offer.shipName }}</p>
    <p><strong>Linia:</strong> {{ offer.company }}</p>
    <p><strong>Termin:</strong> {{ offer.startDate | date: 'dd.MM.yyyy' }} - {{ offer.endDate | date: 'dd.MM.yyyy' }}
    </p>
    <p><strong>Cena:</strong> {{ offer.price }} EUR</p>

    <div class="itinerary">
      <h2>Plan podróży</h2>
      <div class="itinerary-table">
        <table>
          <thead>
          <tr>
            <th>Dzień</th>
            <th>Data</th>
            <th>Port</th>
            <th>Przyjazd</th>
            <th>Odjazd</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let stop of offer.itinerary">
            <td>{{ stop.day }}</td>
            <td>{{ stop.date }}</td>
            <td>{{ stop.port }}</td>
            <td>{{ stop.arrivalTime || '-' }}</td>
            <td>{{ stop.departureTime || '-' }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
