<div class="admin-company-add-edit">
  <div class="back-button">
    <button (click)="goBack()">Powrót</button>
  </div>

  <h1 class="title">{{ mode === 'EDIT' ? 'Edycja' : 'Dodawanie' }}</h1>

  <form [formGroup]="destinationForm">
    <section class="section data-section">
      <h2>Dane dotyczące firmy</h2>

      <div class="form-group">
        <label for="name">Nazwa firmy:</label>
        <input id="name" formControlName="name" type="text" placeholder="Nazwa firmy" />
      </div>

      <div class="form-group">
        <label for="slug">Slug URL po angielsku:</label>
        <input id="slug" formControlName="slug" type="text" placeholder="caribbean" />
      </div>

      <div class="form-group">
        <label for="seoTitle">Tytuł SEO:</label>
        <input id="seoTitle" formControlName="seoTitle" type="text" />
      </div>

      <div class="form-group">
        <label for="seoDescription">Opis SEO:</label>
        <textarea id="seoDescription" formControlName="seoDescription" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="description">Opis strony: (HTML)</label>
        <textarea id="description" formControlName="description" rows="10"></textarea>
      </div>

      <div class="form-group">
        <mat-checkbox formControlName="showInMenu">Pokaż w menu „Kierunki”</mat-checkbox>
      </div>

      <div class="form-group">
        <label for="imageUpload">Zdjęcie kierunku:</label>
        <input id="imageUpload" type="file" accept=".png, .jpg, .jpeg, .webp" (change)="onImageFileChange($event)" />
        <div class="current-file" *ngIf="editingDestination?.imageFile?.originalName">
          <b>Aktualny plik</b>: {{ editingDestination.imageFile.originalName }}
        </div>
      </div>
    </section>

    <button *ngIf="mode === 'EDIT'" (click)="deleteDestination()" mat-raised-button class="delete-destination">
      Usuń region
    </button>

    <button (click)="submitForm()" mat-raised-button color="primary" type="submit" [disabled]="destinationForm.invalid">
      {{ mode === 'ADD' ? 'Dodaj region' : 'Zaktualizuj region' }}
    </button>
  </form>
</div>
