<div class="admin-edit-page">
  <h1>Dodaj Nowy Rejs</h1>

  <form [formGroup]="offerForm">
    <div class="form-section">
      <label>Nazwa Rejsu:</label>
      <input type="text" formControlName="name" placeholder="Wprowadź nazwę rejsu"/>

      <label>Firma:</label>
      <select id="company" formControlName="company" required *ngIf="companies$ | async as companies">
        <option value="">Wybierz firmę</option>
        <option *ngFor="let company of companies" [value]="company.id">{{ company.name }}</option>
      </select>

      <label>Cena (PLN):</label>
      <input type="number" formControlName="price" placeholder="Wprowadź cenę"/>

      <label>Nazwa Statku:</label>
      <input type="text" formControlName="shipName" placeholder="Wprowadź nazwę statku"/>

      <label>Data Początkowa:</label>
      <input type="date" formControlName="startDate"/>

      <label>Data Końcowa:</label>
      <input type="date" formControlName="endDate"/>

      <label>Adres URL PDF (Oryginał PDF):</label>
      <input type="url" formControlName="pdfFileURL" placeholder="Wprowadź adres URL PDF"/>

      <label>Upload pliku PNG:</label>
      <input type="file" accept=".png" (change)="onFileChange($event)"/>
    </div>

    <div class="form-section itinerary-section">
      <h2>Plan Podróży</h2>
      <div formArrayName="itinerary">
        <div *ngFor="let day of itineraryArray.controls; let i = index" [formGroupName]="i"
             class="itinerary-item-horizontal">
          <label>Dzień {{ i + 1 }}:</label>
          <input type="date" formControlName="date" placeholder="Data" class="itinerary-input"/>

          <label>Port:</label>
          <input type="text" formControlName="port" placeholder="Port docelowy" class="itinerary-input"/>

          <label>Przyjazd:</label>
          <input type="time" formControlName="arrivalTime" placeholder="Czas przyjazdu" class="itinerary-input"/>

          <label>Odjazd:</label>
          <input type="time" formControlName="departureTime" placeholder="Czas odjazdu" class="itinerary-input"/>
        </div>
      </div>
    </div>


    <div class="button-container">
      <button class="btn save-btn" (click)="submitForm()">
        Dodaj Rejs
      </button>
    </div>
  </form>
</div>
