.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  animation: fadeIn 0.5s ease-in-out;
}

.auth-card {
  width: 100%;
  max-width: 600px; /* Zwiększono szerokość */
  padding: 40px; /* Zwiększono padding */
  border-radius: 12px; /* Lekko zaokrąglone rogi */
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15); /* Większy cień */
  background-color: #ffffff;
  animation: slideIn 0.5s ease-in-out;
}

.form-header {
  text-align: center;
  margin-bottom: 30px; /* Więcej miejsca pod nagłówkiem */
  h2 {
    font-size: 32px; /* Większy nagłówek */
    color: #333333;
    margin-bottom: 10px;
  }
  p {
    font-size: 16px; /* Większy opis */
    color: #999999;
  }
}

.submit-button {
  width: 100%;
  height: 50px; /* Wyższy przycisk */
  margin-top: 15px;
  border-radius: 6px;
  font-size: 18px; /* Większy tekst */
  transition: background-color 0.3s;
  &:hover {
    background-color: #1890ff;
    color: #ffffff;
  }
}

.switch-mode {
  text-align: center;
  margin-top: 20px; /* Więcej przestrzeni */
  a {
    font-size: 16px; /* Większy tekst linku */
    color: #1890ff;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
