<div>
  <app-sub-menu *ngIf="subMenuItems" [subMenuItems]="subMenuItems"></app-sub-menu>

  <div class="offers-wrapper">

    <div class="left-side">
      <app-offer-filters [filters]="filters" (filterChanged)="onFiltersChanged($event)"></app-offer-filters>
    </div>

    <div class="offers" *ngIf="offers$ | async as offers">
      <div *ngIf="offers.length > 0; else noOffers">
        <div *ngFor="let offer of offers">
          <app-offer-card [offer]="offer"></app-offer-card>
        </div>
      </div>

      <!-- Komunikat o braku ofert -->
      <ng-template #noOffers>
        <div class="no-offers" *ngIf="!(loading$ | async)">
          <p>Nie znaleziono ofert spełniających wybrane kryteria.</p>
        </div>
      </ng-template>
    </div>

    <div class="right-side">
    </div>
  </div>
</div>

<app-spinner *ngIf="(loading$ | async) === true" appAutoSpinner [size]="75"></app-spinner>
