@import '../variables';

html {
  --mat-datepicker-calendar-date-selected-state-background-color: #{$primary-color};
  --mat-datepicker-calendar-date-today-outline-color: #{$primary-color};
  --mat-datepicker-calendar-date-focus-state-background-color: #{rgba($primary-color, 0.12)};
  --mat-datepicker-calendar-date-hover-state-background-color: #{rgba($primary-color, 0.08)};
  --mat-datepicker-toggle-active-state-icon-color: #{$primary-color};

  .mat-datepicker-content {
    background-color: white;
  }

  .mat-calendar-body-selected {
    background-color: $primary-color;
    color: $white;
  }

  .mat-calendar-body-today {
    border: 1px solid $primary-color;
  }

  .mat-mdc-form-field-infix {
    width: unset;
  }
}
