<div class="admin-page">
  <h1>Panel Admina - Zarządzanie Rejsami</h1>

  <div class="button-container">
    <button class="btn add-btn" [routerLink]="['add']">Dodaj Rejs</button>
  </div>

  <div class="cruise-table-container">
    <table class="cruise-table">
      <thead>
        <tr>
          <th>Rejs</th>
          <th>Statek</th>
          <th>Cena</th>
          <th>Ilość Dni</th>
          <th>Termin</th>
          <th>Opcje</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let offer of offers">
          <td>{{ offer.name }}</td>
          <td>{{ offer.shipName }}</td>
          <td>{{ offer.price }} PLN</td>
          <td>{{ offer.nights }}</td>
          <td>{{ offer.startDate | date: 'dd.MM.yyyy' }} - {{ offer.endDate | date: 'dd.MM.yyyy' }}</td>
          <td>
            <button class="btn edit-btn" [routerLink]="['edit', offer.id]">Edytuj</button>
            <button class="btn delete-btn" (click)="deleteOffer(offer.id)">Usuń</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
