@import '../../../scss/variables';

.offer-details {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1.5rem;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.8s ease-in-out;

  .title {
    text-align: center;
    margin-bottom: 1.5rem;

    h1 {
      font-size: 2.5rem;
      color: #2c3e50;
      font-weight: 600;
    }
  }

  .company-name,
  .ship-name,
  .data,
  .price
  {
    font-size: 1.2rem;
    color: #555;
    margin: 0.5rem 0;
    text-align: center;
  }

  .price {
    padding-top: 15px;
    font-weight: 600;
  }

  .image-container {
    margin: 1.5rem auto;
    text-align: center;

    img {
      max-width: 100%;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .itinerary-section {
    margin-top: 2rem;

    h2 {
      font-size: 1.8rem;
      color: #2c3e50;
      margin-bottom: 1rem;
      text-align: center;
    }

    .itinerary-table {
      width: 100%;
      border-collapse: collapse;
      background: #fff;
      border-radius: 8px;
      overflow: hidden;

      thead {
        background: #3498db;
        color: white;

        th {
          padding: 0.75rem;
          text-align: left;
          font-weight: bold;
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid #ddd;
          transition: background 0.3s;

          &:hover {
            background: #f2f8ff;
          }

          td {
            padding: 0.75rem;
            text-align: left;
            color: #555;
          }
        }

        tr:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .back-button {
    margin-top: 2rem;
    text-align: center;

    button {
      background-color: #3498db;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 1rem;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #2980b9;
      }
    }
  }

}

// Animacje
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
