<div class="offer-details" *ngIf="offer">
  <div class="title">
    <h1>{{ offer.name }}</h1>
  </div>
  <h2 class="data">
    {{ offer.startDate | date: 'dd.MM.yyyy' }} - {{ offer.endDate | date: 'dd.MM.yyyy' }}
  </h2>

  <div class="company-name">{{ offer.company.name }}</div>
  <div class="ship-name">{{ offer.ship.name }}</div>
  <div class="price">Od {{ offer.price }} Euro</div>

  <div class="image-container">
    <img [src]="API_URL + '/images/' + offer.imageFile.name" alt="Zdjęcie statku" class="ship-image"/>
  </div>

  <div class="itinerary-section" *ngIf="itineraryData">
    <h2>Plan Podróży</h2>
    <table class="itinerary-table">
      <thead>
      <tr>
        <th>Dzień</th>
        <th>Data</th>
        <th>Port docelowy</th>
        <th>Przyjazd</th>
        <th>Odjazd</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let stop of itineraryData; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ (stop.date | date: 'dd.MM.yyyy') || '-'}}</td>
        <td>{{ stop.port || '-' }}</td>
        <td>{{ stop.arrivalTime || '-' }}</td>
        <td>{{ stop.departureTime || '-' }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="back-button">
    <button (click)="goBack()">Powrót</button>
  </div>
</div>
