@use '@angular/material' as mat;

@import 'scss/scroll-bar';
@import 'scss/notification';
@import 'scss/ng-select/styles';
@import 'scss/material-ui/styles';
@import 'scss/ng-zorro/styles';
@import 'scss/variables';
@import 'scss/udanyrejs';

html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: clip;
}

app-root {
  display: block;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

/* Inputs */
label {
  font-size: 14px;
  font-weight: 500;
  color: $primary-color;
  margin-bottom: 8px;
}

input,
mat-select,
textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid $primary-color;
  border-radius: 8px;
  background: $white;
  transition: all 0.3s ease;
}

/* Buttons */
.back-button,
.add-button {
  margin: 1rem 0;
  text-align: center;

  button {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: $white;
    background-color: $primary-color;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:disabled {
      background-color: $disabled-color;
      cursor: not-allowed;
    }

    &:hover {
      background-color: $primary-color;
    }
  }
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
