body {
  padding: 0;
  margin: 0;
}

app-root {
  padding: 0;
  margin: 0;
}

.info-message {
  font-size: 0.8em;
  font-weight: bolder;
  color: blue;
}

.success-message {
  font-size: 0.8em;
  font-weight: bolder;
  color: blue;
}

.error-message {
  font-size: 0.8em;
  font-weight: bolder;
  color: red;
}

