<nav class="navbar">
  <div class="navbar-container">
    <!-- Lewa fala -->
    <img src="/assets/wave-left.png" class="wave wave-left" alt="Left Wave" />


    <!-- Główna zawartość nawigacji -->
    <div class="navbar-content">

      <!-- Link Oferty -->
      <a routerLink="/offers" class="nav-link">
        <span>Oferty</span>
      </a>

      <!-- Link Promocje -->
      <a routerLink="/offers/recommended" class="nav-link" *ngIf="deviceInfo.deviceTypeDetected === 'DESKTOP'">
        <span>Polecamy</span>
      </a>

      <!-- Logo na środku -->
      <a routerLink="/offers" class="logo-container">
        <img src="/assets/logo.png" class="logo" alt="UdanyRejs Logo" />
      </a>

      <!-- Link O nas -->
      <a routerLink="/about-us" class="nav-link" *ngIf="deviceInfo.deviceTypeDetected === 'DESKTOP'">
        <span>O nas</span>
      </a>

      <!-- Link Kontakt -->
      <a routerLink="/contact" class="nav-link" *ngIf="deviceInfo.deviceTypeDetected !== 'PHONE'">
        <span>Kontakt</span>
      </a>

      <!-- Link Polecamy -->
      <a routerLink="/offers/recommended" class="nav-link" *ngIf="deviceInfo.deviceTypeDetected === 'PHONE'">
        <span>Polecamy</span>
      </a>
    </div>

    <!-- Prawa fala -->
    <img src="/assets/wave-right.png" class="wave wave-right" alt="Right Wave" />
  </div>
</nav>
