// Podstawowe kolory i style
$primary-color: #00e1e7;
$secondary-color: #00424c;

$text-color: black;

.container {
  display: flex;
  height: 100vh;
  min-height: 100vh;
  flex-direction: column;
}

// Nagłówek
.navbar {
  border-bottom: 4px solid $secondary-color;
  display: flex;
  justify-content: center;
  padding: 0;

  .navbar-container {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 0 20px;
  }

  // Stylizacja fali
  .wave {
    height: 32px;

    &.wave-left {
      padding-right: 0;
    }

    &.wave-right {
      padding-left: 0;
    }
  }

  // Stylizacja treści navbaru
  .navbar-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  // Linki w navbarze
  .nav-link {
    font-size: 18px;
    font-weight: 600;
    color: $secondary-color;
    text-decoration: none;
    display: flex;
    align-items: center;

    &:first-child {
      margin-right: 40px;
    }

    &:last-child {
      margin-left: 40px;
    }

    span {
      white-space: nowrap;
    }

    &:hover {
      color: darken($secondary-color, 10%);
    }
  }

  // Stylizacja logo
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
    padding: 10px 0;

    .logo {
      height: 60px;
    }
  }
}

// Główna sekcja na kontent
.content {
  width: 100%;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  color: $text-color;
  align-items: center;
  justify-content: center;

  router-outlet {
    width: 100%;
  }
}

// Stopka
.footer {
  background-color: $secondary-color;
  text-align: center;
  padding: 10px 20px;
  font-size: 14px;
  color: $text-color;
  border-top: 1px solid #ddd;

  p {
    margin: 5px 0;
  }
}
