@import '../../../scss/variables';

.submenu {
  display: flex;
  min-height: 40px;
  height: auto;
  background-image: linear-gradient($primary-color, #002b4f);
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
  justify-content: center;

  .submenu-item {
    padding: 0 25px;
  }

  a:link,
  a:visited {
    color: $white;
    text-align: center;
    align-content: center;
  }
}
