<nav class="submenu" aria-label="Kategorie rejsów">
  <a
    routerLink="/offers/recommended"
    class="nav-link mobile-link"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Polecamy</a
  >
  <ng-container *ngFor="let item of subMenuItems">
    <a
      *ngIf="item.isVisible"
      [routerLink]="item.url | lowercase"
      class="nav-link"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >{{ item.name }}</a
    >
  </ng-container>
  <a routerLink="/about-us" class="nav-link mobile-link" routerLinkActive="active" ariaCurrentWhenActive="page"
    >O nas</a
  >
</nav>
