APP_PORT=""
WEB_URL=""

HTTPS=false
SECURE=false

JWT_SECRET=gerth@3$dfgsd2

DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DB_SYNC=false

PDFS_PATH=""
IMAGES_PATH=""
