APP_ENV=local
API_PORT=""
WEB_URL=""

JWT_SECRET=
JWT_EXPIRATION=

DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DB_SYNC=false

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_SECURE=true

OFFERS_IMAGES_PATH=
SHIPS_IMAGES_PATH=
COMPANIES_IMAGES_PATH=

OFFERS_PDFS_PATH=
