APP_ENV=local
APP_PORT=5006
WEB_URL=http://localhost:4200

DAYS_BEFORE_INACTIVE=7

JWT_SECRET=change-me-to-a-long-random-secret
JWT_EXPIRATION_SECONDS=3600
REFRESH_TOKEN_EXPIRATION_DAYS=30

HTTPS_ENABLED=DISABLED
DOMAINS_WHITELIST=localhost

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=udanyrejs
DATABASE_PASSWORD=udanyrejs
DATABASE_NAME=udanyrejs
DB_SYNC=false

MAIL_HOST=smtp.example.com
MAIL_PORT=465
MAIL_USER=noreply@example.com
MAIL_PASSWORD=change-me
MAIL_SECURE=true

OFFERS_IMAGES_PATH=./files/OFFERS_IMAGES
SHIPS_IMAGES_PATH=./files/SHIPS_IMAGES
COMPANIES_IMAGES_PATH=./files/COMPANIES_IMAGES
OFFERS_PDFS_PATH=./files/OFFERS_PDFS

SCRAPER_URL=http://udanyrejs-scraper:5010
SCRAPER_INTERNAL_TOKEN=change-me-to-a-long-random-secret
ALLOWED_SCRAPE_HOSTS=rejsy4you.pl
SYNC_CRON_EXPRESSION=0 4 * * *
SYNC_REQUEST_DELAY_MS=3000
