@import '../../../scss/variables.scss';

.custom-table {
  margin: 0 20px;
  border-collapse: collapse;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;

  .row:hover {
    background-color: rgba($grey, 0.05);
  }

  .inactive-row {
    background-color: rgba($negative, 0.05);
  }

  .link {
    color: $primary-color;
    font-weight: 500;
    cursor: pointer;
  }

  .icon-details {
    color: grey;
  }

  .icon-edit {
    color: $neutral;
  }

  .icon-refresh {
    color: #1ea41e;

    &.disabled {
      color: #5d6b5d;
      cursor: not-allowed;
    }
  }

  .icon-delete {
    color: $negative;
  }

  .shareStats {
    i {
      padding: 5px 0;
      width: 30px;
    }
  }

  .photos-or-pdf {
    .element {
      display: flex;
      padding: 1px 0;
      margin: 1px 0;
      font-weight: 500;

      span {
        width: 60px;
      }

      mat-icon {
        height: 16px;
        font-size: 16px;
      }
    }
  }
}
